{% extends 'passage/passage-frame.html.twig' %}

{% block subcontent %}
	<section style="padding: 12px 0px;">
		<div class="container">
			<h3>Ajouter un Arret de bus</h3>
			<div class="row justify-content-center">
				<div class="col-12">
					{{ form_start(form, {'attr': {'id': 'itineraire_form'}}) }}
					{{ form_errors(form) }}
					<div class="row">
						<div class="col-md-6 col-xs-12">
							{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'form-label'}}) }}
							<div class="form-group form-float">
								<div class="form-line">
									{{ form_widget(form.nom, {'attr': {'class': 'form-control' } }) }}
									{{ form_errors(form.nom) }}
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							{{ form_label(form.coordonnees, "Coordonnées géographiques", {'label_attr': {'class': 'form-label'}}) }}
							<div class="form-group form-float">
								<div class="form-line">
									{{ form_widget(form.coordonnees, {'attr': {'class': 'form-control' } }) }}
									{{ form_errors(form.coordonnees) }}
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							{{ form_label(form.compagnie, "Compagnie", {'label_attr': {'class': 'form-label'}}) }}
							<div class="form-group form-float">
								<div class="form-line">
									{{ form_widget(form.compagnie, {'attr': {'class': 'form-control' } }) }}
									{{ form_errors(form.compagnie) }}
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xs-12">
							{{ form_label(form.localite, "Localité", {'label_attr': {'class': 'form-label'}}) }}
							<div class="form-group form-float">
								<div class="form-line">
									{{ form_widget(form.localite, {'attr': {'class': 'form-control' } }) }}
									{{ form_errors(form.localite) }}
								</div>
							</div>
						</div>
						<div class="col-12">
							{{ form_label(form.description, "Description", {'label_attr': {'class': 'form-label'}}) }}
							<div class="form-group form-float">
								<div class="form-line">
									{{ form_widget(form.description, {'attr': {'class': 'form-control' } }) }}
									{{ form_errors(form.description) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12 text-right">
					<button class="btn btn-secondary back home-btn" type="button">
						Annuler</button>
					{{ form_widget(form.save, {'attr': {'class': 'btn btn-warning'}}) }}
					{{ form_rest(form) }}
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
