<!DOCTYPE html>
<html>
	<head>
		<!-- Required meta tags -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- Bootstrap CSS -->
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/leaflet.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
		{% endblock %}
		{% block fonts %}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block footer %}
			<footer id="dk-footer" class="dk-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-4">
							<div class="dk-footer-box-info">
								<a href="index.html" class="footer-logo">
									<img src="{{ asset('assets/images/logo.png' )}}" alt="footer_logo" class="img-fluid">
								</a>
								<div class="footer-social-link">
									<br/>
									<h3>Mobilité urbaine</h3>
									<ul>
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
								<!-- End Social link -->
							</div>
						</div>
						<!-- End Col -->
						<div class="col-md-12 col-lg-8">
							<div class="row">
								<div class="col-md-12 col-lg-6">
									<div class="footer-widget footer-left-widget">
										<div class="section-heading">
											<h3>Liens utiles</h3>
											<span class="animate-border border-black"></span>
										</div>
										<ul>
											<li>
												<a href="#">Site officiel du ministère</a>
											</li>
											<li>
												<a href="#">Politique de confidentialité</a>
											</li>
											<li>
												<a href="#">Documents de transport</a>
											</li>
											{% if is_granted('IS_AUTHENTICATED_FULLY') %}
												<span></span>
											{% else %}
												<li>
													<a href="{{ path('login') }}">Espace administrateur</a>
												</li>
											{% endif %}
											<li>
												<a href="#">A propos</a>
											</li>
										</ul>
									</div>
									<!-- End Footer Widget -->
								</div>
								<!-- End col -->
								<div class="col-md-12 col-lg-6">
									<div class="footer-widget">
										<div class="section-heading">
											<h3>Newsletter</h3>
											<span class="animate-border border-black"></span>
										</div>
										<p style="color: #878787;">Abonnez-vous à notre newsletter et recevez les dernières publications</p>
										<form action="#">
											<div class="form-row">
												<div class="col dk-footer-form">
													<input type="email" class="form-control" placeholder="Email Address">
													<button type="submit">
														<i class="fa fa-message"></i>
													</button>
												</div>
											</div>
										</form>
										<!-- End form -->
									</div>
									<!-- End footer widget -->
								</div>
								<!-- End Col -->
							</div>
							<!-- End Row -->
						</div>
						<!-- End Col -->
					</div>
					<!-- End Widget Row -->
					<div class="row justify-content-center">
						<i style="font-size: .8rem; padding-bottom: 24px; color: #A1A1A1; padding-top: 12px;">Copyright © 2020, EIG Niger</i>
					</div>
				</div>
				<!-- End Contact Container -->
			</footer>
		{% endblock %}
		{% block javascripts %}
			<!-- jQuery first, then Bootstrap JS -->
			<script src="{{ asset('assets/js/jquery-3.4.1.min.js') }}"></script>
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
			<script src="{{ asset('assets/js/leaflet.js') }}"></script>
			<script src="{{ asset('assets/js/script.js') }}"></script>
			{% block more_js %}{% endblock %}
		{% endblock %}
	</body>
</html>
